body{
  background-color: black;
}

.cont{

  background-color: rgb(76, 70, 94);
  border-radius: 10px;
  width:80%;
  margin-left: 10%;
  margin-top:75px;
}
.div1{
  
  width:100%;
  height:50px;
  display:flex;
  justify-content: center;
  align-items: center;
}
.btnDiv{
  
  width:60%;
  height:80%;
  display:flex;
  justify-content: center;

  

}
#passBtn{
  width:352px;
  
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  border:none;
  
}
#copyBtn{
  width:95px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border:none;
  background-color: blue;
}

.div2{
  display:flex;
  justify-content: center;
  gap:10px;
  margin-top:20px;
}



